body{
    background-color:#6BA555;
    font-family: monospace;
}


.hero-unit {
padding: 60px;
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #C2E2B6;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}


#menu
{
    background-color:rgb(238,238,238);
    padding-left:2%;

}
