{# src/Sdz/BlogBundle/Resources/views/Test/index.html.twig #}

{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}{{"Gestion de l'état civil"|trans}}{% endblock%}

{% block css %}<link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/' ~ app.session.get('theme') ) }}" type="text/css" />{% endblock %}

{% block header %}

    <h1>{{"Gestion de l'état civil"|trans}}</h1>
    <p>{{'Déstiné aux mairie afin de gerer les personnes.'|trans}}</p>

{% endblock %}

{% block body %}

        lala

{% endblock %}
